<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Request Practice</title>
</head>
<body>
	<h1>Requesting data</h1>
		<div class="form">
			<form id="form">
                <input type="text" id="userData" name="data" placeholder="Enter Stuff" />
                <button type="submit" id="userSubmit" name="submit" value="Check Your Rep!">Submit Stuff</button>
            </form>
		</div>
	<script src="/vendors/jquery.js"></script>
	<script src="/app.js"></script>
</body>
</html>